<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodilo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="#menu-header" class="skip-to-content">Menuju Daftar Menu</a>
    <header class="header">
        <nav class="navbar">
            <div class="navbar-box">
                <h1 class="heading-title">
                    Foodilo
                </h1>
            </div>
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="#" class="navbar-link">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="navbar-link">Favorite</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="navbar-link">About Us</a>
                </li>
            </ul>
            <a class="hamburger" tabindex="0">☰</a>
        </nav>
        <div class="hero">
            <div class="hero-image-box">
                <img class="hero-image" src="./images/heros/hero-image_3.jpg" alt="hero-image">
            </div>
            <div class="hero-inner">
                <h1 class="hero-inner-primary"><span class="welcome">Selamat Datang di </span><br> <span id="hunger-app">Foodilo</span> <br> <span class="welcome">Wilujeng mamam...</span></h1>
            </div>
        </div>
    </header>
    <main>
        <div id="menu-header">
            Explore Restaurant
        </div>
        <div class="menu-grid">
            <!--Daftar Menu ditampilkan disini-->
        </div>
    </main>
    <footer>
        <p>&copy;2021 - Foodilo</p>
    </footer>
</body>
</html>
