@media screen and (max-width: 499px) {
    .navbar-list {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        -webkit-transform: translate(150%, 0);
        transform: translate(150%, 0);
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(50%, 40%);
        transform: translate(50%, 40%);
    }

    .navbar-link {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
}

@media screen and (min-width: 500px) {
    .hamburger {
        display: none;
    }

    .navbar-item {
        display: inline-block;
    }
}

@media screen and (min-width: 650px) {
    .content {
        padding: 16px 32px 32px 32px;
    }

    .menu-title {
        font-size: 18px;
    }

    .description {
        font-size: 14px;
    }
}

@media screen and (min-width: 700px) {
    .menu-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 900px) {
    .menu-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}